@model ECEntity.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload History</title>
    <link rel="stylesheet" type="text/css" href="~/css/Homedesign.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/test.css">
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
    <link rel="stylesheet" type="text/css" href="~/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>


    <header class="header">
        <div>
            <nav>
                <ul class="header_ul">
                    <li><a href="@Url.Action("Home", "Home")"><i class="fa fa-home" aria-hidden="true" style="color: white"></i></a></li>
                    <li>
                        <a href="@Url.Action("ViewProfile", "Dashboard")"><i class="fa fa-tachometer" aria-hidden="true" style="color: white"></i></a>
                    </li>
                    <li><a href="@Url.Action("Chart", "Dashboard")"><i class="fa fa-bar-chart" aria-hidden="true" style="color: white"></i></a></li>
                    <li><a href="@Url.Action("Logout", "Dashboard")"><i class="fa fa-sign-out" aria-hidden="true" style="color: white"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <menu class="home">
        <div>
            <nav class="bar">
                <ul></ul>
                <ul>
                    <li><font color="#444141" face="Impact" style="margin:15" size="4"></font></li>
                    <li class="menu_font">
                        <a href="@Url.Action("Home2", "Home", new { tags = "Nature" } )"><font color="#444141" face="Impact" style="margin:15" size="3"><u>Nature</u></font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home2", "Home", new { tags = "Digital Art" } )"><font color="#444141" face="Impact" style="margin:15" size="3"><u>Digital Art</u></font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home2", "Home", new { tags = "Film & Animation" } )"><font color="#444141" face="Impact" style="margin:15" size="3"><u>Film & Animation</u></font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home2", "Home", new { tags = "Design" } )"><font color="#444141" face="Impact" style="margin:15" size="3"><u>Design</u></font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home2", "Home", new { tags = "Cartoon" } )"><font color="#444141" face="Impact" style="margin:15" size="3"><u>Cartoon</u></font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home2", "Home", new { tags = "Anime" } )"><font color="#444141" face="Impact" style="margin:15" size="3"><u>Anime</u></font></a>
                    </li>
                    <hr>
                </ul>
            </nav>
        </div>
    </menu>

    <hr class="hr_border"><br>
    <section>
        <div class="wrapper">
            <div id="profile">
                <div class="left-bar">

                    <div style=" margin:5px; margin-left:90px">
                        <img class="img-circle" src="~/raw/propic.jpg" style="margin:15px">
                    </div>
                    <h1 style="color: antiquewhite">@ViewBag.user.FullName</h1>
                    <hr>
                    <nav>
                        <ul style="background-color:#444141;">
                            <li><a href="@Url.Action("ViewProfile", "Dashboard" )"><i class="fa fa-user" aria-hidden="true" style="margin:10px"><font face="Arial" style="margin:10px">View Profile</font></i></a></li>
                            <li><a href="@Url.Action("UploadHistory", "Dashboard" )"><i class="fa fa-upload" aria-hidden="true" style="margin:10px"><font face="Arial" style="margin:10px">Upload History</font></i></a></li>
                            <li><a href="@Url.Action("DownloadHistory", "Dashboard" )"><i class="fa fa-download" aria-hidden="true" style="margin:10px"><font face="Arial" style="margin:10px">Download History</font></i></a></li>
                            <li><a href="@Url.Action("EditProfile", "Dashboard" )"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin:10px"><font face="Arial" style="margin:10px">Edit Profile</font></i></a></li>
                            <li><a href="@Url.Action("Logout", "Dashboard" )"><i class="fa fa-sign-out" aria-hidden="true" style="margin:10px"><font face="Arial" style="margin:10px">Logout</font></i></a></li>

                        </ul>
                    </nav>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                
                    <div class="right-bar">
                        <div class="form">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>User</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.UserId)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Edit" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <br>
    <br><br><br><br>
    <footer style="clear: both">
        <div class="left_footer" style="text-align: right">
            <font face="Arial Black" color="white" style="margin:5; font-size: 15">&copy;COPYRIGHT</font>
        </div>

        <div class="right_footer">
            <img src="~/Icon/facebook.png" height="30px" width="30px" style="margin:15">
            <img src="~/Icon/google.png" height="30px" width="30px" style="margin:15">
            <img src="~/Icon/twitter.png" height="30px" width="30px" style="margin:15">
        </div>
    </footer>
</body>
</html>

